<div class="listing-container">
  <img src="../../assets/images/open office space 1.jpg" class="img img-responsive">
  <div class="title">Kick Ass Office</div>
  <div class="price">From $200 per month</div>

</div>
<div class="height-20"></div>
<div class="listing-container">
  <img src="../../assets/images/open office space 2.jpg" class="img img-responsive">
</div>
<div class="height-20"></div>

<div class="listing-container">
  <img src="../../assets/images/open office space 3.jpeg" class="img img-responsive">
</div>
<div class="height-20"></div>

<div class="listing-container">
  <img src="../../assets/images/open office space 4.jpeg" class="img img-responsive">
</div>