#slider-form{
    margin-left: 20px;
    margin-top: 5px;
}

button:hover {
    background-color: #ccc;

}

button
{
    background-color: white;
    color: black;
    border-radius: 3px;
    border: 1px solid grey;
    cursor: pointer;
}


.listings-not-filtered{
    background-color: white;
}

button:hover .listings-not-filtered{
    background-color: #ccc;
}

.listings-filtered{
    background-color: #4C6A92;
    color: white;

}
.listings-filtered:hover{
    background-color: #4C6A92;
    color: white;
}

#slider-form{
    width:300px;
}