::ng-deep .ui-slider .ui-slider-range{
background: green;
}

::ng-deep .ui-slider .ui-slider-handle {
cursor: pointer;
margin-bottom: 10px;
}

::ng-deep .ui-slider-horizontal {
  height: 2px; }

#apply{
    color: rgb(3, 16, 80);
    background-color: Transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-weight: bold;
    float: right;
    margin-top: 50px;
    border: none;

}

#apply:hover {
    border-bottom:2px solid rgb(3, 16, 80);
}

#clear{
    color: grey;
    background-color: Transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    margin-top: 50px;
    border: none;

}

#clear:hover {
    border-bottom:2px solid grey;
}



.filter-body{
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 300px;
    height: 140px;
    padding: 10px;
}

form{
    width:300px;
    display: inline-block;
}