<form #f="ngForm" (ngSubmit) = "onApply(f)" class="filter-body">
<div class="form-group">
  <label>${{minimumFilterPrice}}-${{maximumFilterPrice}}</label>
  <p-slider
  [(ngModel)]="rangeValues"
  id="slider"
  #slider
  name = "slider"
  [range]="true"
  [min] = "minimumBoundaryPrice"
  [max]="maximumBoundaryPrice"
  (onChange)="handleChange($event)">
</p-slider>
<button type="submit" name="apply" id = "apply">Apply</button>
<button [hidden] = "!isRangeValuesChanged" type="button" name="clear" id = "clear" (click)="onClear(slider)">Clear</button>

</div>
</form>