.flex-container {
  display: flex;
  display: -webkit-flex;

}

.flex-center {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.calendar-days{
    width: 60px;
    height: 60px;
    background: navy;
    border: 3px solid #ccc;
    color: white;
    cursor: pointer;
}

#calendar-container{
    width: 462px;
}

.flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.inactive{
    opacity: 0.5;
}

.flex-center-horz {
    -webkit-justify-content: center;
    justify-content: center;
}

.width-5 {
    width: 5%;
}

.width-50 {
    width: 50%;
    text-align: center;
}

.height-20px {
    height: 20px;
}

.today{
    color: orange;
}

.selected{
    background: peru;
    opacity: 0.6;
}

.considered{
    background: green;
    opacity: 0.2;
}

#chevron-right:hover{
    cursor: pointer;
    border: 1px solid black;
}


#chevron-left:hover{
    cursor: pointer;
    border: 1px solid black;
    }

#chevron-right{
    border: 1px solid #ccc;
    width: 40px;
    text-align: center;
    margin-left: 10px;

}

#chevron-left{
    border: 1px solid #ccc;
    width: 40px;
    text-align: center;


}

.fa-chevron-left{
    margin-right: 2px;
}


.fa-chevron-right{
    margin-left: 2px;

}